cors:
  originsPatterns: http://localhost:4200/
server:
  error:
    include-message: always
spring:
  jpa:
    database: POSTGRESQL
    hibernate.ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/clientes
    username: postgres
    password: password
